In [ ]:
import pandas as pd
df = pd.DataFrame([10,20,30,40])
print(df)

    0
0  10
1  20
2  30
3  40

In [ ]:
import pandas as pd
df=pd.read_csv('/content/Churn_Modelling.csv')
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [ ]:
df.tail(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df['Surname'].head(10)

0    Hargrave
1        Hill
2        Onio
3        Boni
4    Mitchell
5         Chu
6    Bartlett
7      Obinna
8          He
9          H?
Name: Surname, dtype: object

In [ ]:
df.head(100).tail(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
90,91,15757535,Heap,647,Spain,Female,44,5,0.00,3,1,1,174205.22,1
91,92,15731511,Ritchie,808,France,Male,45,7,118626.55,2,1,0,147132.46,0
92,93,15809248,Cole,524,France,Female,36,10,0.00,2,1,0,109614.57,0
93,94,15640635,Capon,769,France,Male,29,8,0.00,2,1,1,172290.61,0
94,95,15676966,Capon,730,Spain,Male,42,4,0.00,2,0,1,85982.47,0
95,96,15699461,Fiorentini,515,Spain,Male,35,10,176273.95,1,0,1,121277.78,0
96,97,15738721,Graham,773,Spain,Male,41,9,102827.44,1,0,1,64595.25,0
97,98,15693683,Yuille,814,Germany,Male,29,8,97086.40,2,1,1,197276.13,0
98,99,15604348,Allard,710,Spain,Male,22,8,0.00,2,0,0,99645.04,0
99,100,15633059,Fanucci,413,France,Male,34,9,0.00,2,0,0,6534.18,0

In [ ]:
df.iloc[100:200]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
100,101,15808582,Fu,665,France,Female,40,6,0.00,1,1,1,161848.03,0
101,102,15743192,Hung,623,France,Female,44,6,0.00,2,0,0,167162.43,0
102,103,15580146,Hung,738,France,Male,31,9,82674.15,1,1,0,41970.72,0
103,104,15776605,Bradley,528,Spain,Male,36,7,0.00,2,1,0,60536.56,0
104,105,15804919,Dunbabin,670,Spain,Female,65,1,0.00,1,1,1,177655.68,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,15594815,Aleshire,807,France,Male,35,3,174790.15,1,1,1,600.36,0
196,197,15635905,Moran,616,Spain,Female,32,6,0.00,2,1,1,43001.46,0
197,198,15777892,Samsonova,721,Germany,Male,37,3,107720.64,1,1,1,158591.12,0
198,199,15656176,Jenkins,501,France,Male,57,10,0.00,2,1,1,47847.19,0
199,200,15811127,Volkov,521,France,Male,35,6,96423.84,1,1,0,10488.44,0

In [ ]:
df[::2]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1

In [ ]:
df[100:200:2]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
100,101,15808582,Fu,665,France,Female,40,6,0.00,1,1,1,161848.03,0
102,103,15580146,Hung,738,France,Male,31,9,82674.15,1,1,0,41970.72,0
104,105,15804919,Dunbabin,670,Spain,Female,65,1,0.00,1,1,1,177655.68,1
106,107,15599195,Stiger,582,Germany,Male,32,1,88938.62,1,1,1,10054.53,0
108,109,15602312,Walkom,605,Spain,Male,33,5,150092.80,1,0,0,71862.79,0
110,111,15803526,Eremenko,685,Germany,Male,30,3,90536.81,1,0,1,63082.88,0
112,113,15715951,Thorpe,562,France,Male,42,2,100238.35,1,0,0,86797.41,0
114,115,15609618,Fanucci,721,Germany,Male,28,9,154475.54,2,0,1,101300.94,1
116,117,15705512,Welch,668,Germany,Female,37,6,167864.40,1,1,0,115638.29,0
118,119,15661670,Chidozie,524,Germany,Female,31,8,107818.63,1,1,0,199725.39,1
120,121,15682472,Culbreth,828,France,Male,34,8,129433.34,2,0,0,38131.77,0
122,123,15690673,Cameron,656,France,Female,39,6,0.00,2,1,0,141069.88,0
124,125,15779659,Zetticci,625,France,Female,28,3,0.00,1,0,0,183646.41,0
126,127,15671137,MacDonald,549,France,Female,52,1,0.00,1,0,1,8636.05,1
128,129,15575492,Kennedy,828,France,Female,41,7,0.00,2,1,0,171378.77,0
130,131,15740404,He,758,France,Female,34,3,0.00,2,1,1,124226.16,0
132,133,15677871,Cocci,687,France,Male,38,9,122570.87,1,1,1,35608.88,0
134,135,15712543,Chinweike,789,Germany,Male,39,7,124828.46,2,1,1,124411.08,0
136,137,15802381,Li,461,Germany,Female,34,5,63663.93,1,0,1,167784.28,0
138,139,15594408,Chia,584,Spain,Female,48,2,213146.20,1,1,0,75161.25,1
140,141,15698932,Groves,756,Germany,Male,44,10,137452.09,1,1,0,189543.90,0
142,143,15628145,Forwood,682,France,Female,43,5,125851.93,1,1,1,193318.33,0
144,145,15612350,Taylor,691,France,Female,31,5,40915.55,1,1,0,126213.84,1
146,147,15705707,Bennelong,635,Spain,Female,29,8,138296.94,2,1,0,141075.51,0
148,149,15703264,Chukwufumnanya,735,France,Male,44,9,120681.63,1,1,0,74836.34,0
150,151,15650237,Morgan,754,Spain,Female,32,7,0.00,2,1,0,89520.75,0
152,153,15811589,Metcalfe,716,Spain,Male,42,8,0.00,2,1,0,180800.42,0
154,155,15709368,Milne,614,France,Female,43,6,0.00,2,1,1,109041.53,0
156,157,15655007,Li,758,France,Female,33,7,0.00,2,0,0,82996.47,0
158,159,15589975,Maclean,646,France,Female,73,6,97259.25,1,0,1,104719.66,0
160,161,15692132,Wilkinson,717,Spain,Female,22,6,101060.25,1,0,1,84699.56,0
162,163,15630910,Treacy,800,France,Female,49,7,108007.36,1,0,0,47125.11,0
164,165,15658929,Taverner,683,Spain,Male,29,0,133702.89,1,1,0,55582.54,1
166,167,15724623,Taubman,704,Germany,Female,24,7,113034.22,1,1,0,162503.48,1
168,169,15574692,Pinto,667,Spain,Female,39,2,0.00,2,1,0,40721.24,1
170,171,15587562,Hawkins,484,France,Female,29,4,130114.39,1,1,0,164017.89,0
172,173,15651022,Yost,480,Germany,Male,44,10,129608.57,1,1,0,5472.70,1
174,175,15625524,Rowe,512,France,Male,40,5,0.00,2,1,1,146457.83,0
176,177,15645248,Ho,510,France,Female,30,0,0.00,2,1,1,130553.47,0
178,179,15762615,Campbell,597,Spain,Female,40,8,101993.12,1,0,1,94774.12,0
180,181,15716334,Rozier,850,Spain,Female,45,2,122311.21,1,1,1,19482.50,0
182,183,15621075,Ogbonnaya,778,Germany,Female,45,1,162150.42,2,1,0,174531.27,0
184,185,15719377,Cocci,804,France,Female,50,4,0.00,1,1,1,8546.87,1
186,187,15771977,T'ao,730,France,Female,39,1,99010.67,1,1,0,194945.80,0
188,189,15726676,Marshall,616,Spain,Male,30,5,0.00,2,0,1,196108.51,0
190,191,15726931,Onwumelu,715,France,Female,41,8,56214.85,2,0,0,92982.61,1
192,193,15756850,Golovanov,479,France,Male,40,1,0.00,2,0,0,114996.43,0
194,195,15679200,Crawford,580,Spain,Male,29,9,61710.44,2,1,0,128077.80,0
196,197,15635905,Moran,616,Spain,Female,32,6,0.00,2,1,1,43001.46,0
198,199,15656176,Jenkins,501,France,Male,57,10,0.00,2,1,1,47847.19,0

In [ ]:
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [ ]:
df.corr()

<ipython-input-25-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,1.000000,0.004202,0.005840,0.000783,-0.006495,-0.009067,0.007246,0.000599,0.012044,-0.005988,-0.016571
CustomerId,0.004202,1.000000,0.005308,0.009497,-0.014883,-0.012419,0.016972,-0.014025,0.001665,0.015271,-0.006248
CreditScore,0.005840,0.005308,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,0.000783,0.009497,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,-0.006495,-0.014883,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,-0.009067,-0.012419,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.007246,0.016972,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,0.000599,-0.014025,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.012044,0.001665,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.005988,0.015271,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.016571,-0.006248,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [ ]:
df1=df.drop(['RowNumber','CustomerId','Surname','CreditScore'], axis=1, inplace=False)
df1.shape

(10000, 10)

In [ ]:
df2=df.drop(['RowNumber','CustomerId','Surname','CreditScore'], axis=1, inplace=True)
df2

KeyError: "['RowNumber', 'CustomerId', 'Surname', 'CreditScore'] not found in axis"

In [ ]:
df=pd.read_csv('/content/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df_partial =pd.read_csv("/content/Churn_Modelling.csv",nrows=5000)
print(df_partial)

      RowNumber  CustomerId     Surname  CreditScore Geography  Gender  Age  \
0             1    15634602    Hargrave          619    France  Female   42
1             2    15647311        Hill          608     Spain  Female   41
2             3    15619304        Onio          502    France  Female   42
3             4    15701354        Boni          699    France  Female   39
4             5    15737888    Mitchell          850     Spain  Female   43
...         ...         ...         ...          ...       ...     ...  ...
4995       4996    15583480      Morgan          807    France  Female   36
4996       4997    15620341     Nwebube          500   Germany    Male   44
4997       4998    15613886    Trevisan          722     Spain    Male   43
4998       4999    15792916  Ositadimma          559     Spain  Female   40
4999       5000    15710408  Cunningham          584     Spain  Female   38

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
4995       4       0.00              2          0               1
4996       9  160838.13              2          1               0
4997       1       0.00              1          1               0
4998       7  144470.77              1          1               1
4999       3       0.00              2          1               1

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
4995        147007.33       0
4996        196261.64       0
4997         44560.17       1
4998         18917.95       0
4999          4525.40       0

[5000 rows x 14 columns]

In [ ]:
df.isna().sum()

Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df['Gender'].isna().sum()

0

In [ ]:
df.iloc[12:50]

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
12,France,Female,34,10,0.00,2,1,0,26260.98,0
13,France,Female,25,5,0.00,2,0,0,190857.79,0
14,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,France,Female,24,6,0.00,2,1,1,54724.03,0
20,France,Male,41,8,0.00,2,1,1,170886.17,0
21,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,France,Male,46,3,0.00,2,0,1,8487.75,0
24,France,Female,38,5,0.00,1,1,1,187616.16,0
25,France,Male,25,3,0.00,2,0,1,124508.29,0
26,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,France,Male,44,9,0.00,2,0,0,38433.35,0
28,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
33,Spain,Female,42,6,0.00,2,1,1,34410.55,0
34,Spain,Female,29,9,0.00,2,1,1,142033.07,0
35,France,Female,45,0,134264.04,1,1,0,27822.99,1
36,Spain,Male,31,3,145260.23,1,0,1,114066.77,0
37,Spain,Male,33,7,76548.60,1,0,1,98453.45,0
38,France,Male,36,7,0.00,1,1,1,40812.90,0
39,Germany,Male,41,6,70349.48,2,0,1,178074.04,0
40,Spain,Male,40,4,0.00,1,1,0,70154.22,0
41,France,Female,51,8,122522.32,1,0,0,181297.65,1
42,France,Female,61,2,117419.35,1,1,1,94153.83,0
43,France,Female,49,2,131394.56,1,0,0,194365.76,1
44,Spain,Female,61,5,155931.11,1,1,1,158338.39,0
45,Germany,Female,32,4,109421.13,2,1,1,126517.46,0
46,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
48,Germany,Male,38,2,103391.38,1,0,1,90878.13,0
49,Germany,Female,37,2,103769.22,2,1,0,194099.12,0

In [ ]:
df.iloc[20:50,2:6]

    Age  Tenure    Balance  NumOfProducts
20   41       8       0.00              2
21   32       8       0.00              2
22   38       4       0.00              1
23   46       3       0.00              2
24   38       5       0.00              1
25   25       3       0.00              2
26   36       2  136815.64              1
27   44       9       0.00              2
28   43       3  141349.43              1
29   29       0   59697.17              2
30   39       3       0.00              3
31   36       7   85311.70              1
32   41       9  110112.54              2
33   42       6       0.00              2
34   29       9       0.00              2
35   45       0  134264.04              1
36   31       3  145260.23              1
37   33       7   76548.60              1
38   36       7       0.00              1
39   41       6   70349.48              2
40   40       4       0.00              1
41   51       8  122522.32              1
42   61       2  117419.35              1
43   49       2  131394.56              1
44   61       5  155931.11              1
45   32       4  109421.13              2
46   27       9  112045.67              1
47   39       9  137843.80              1
48   38       2  103391.38              1
49   37       2  103769.22              2

In [ ]:
df.iloc[::3,::2]

     Geography  Age    Balance  HasCrCard  EstimatedSalary
0       France   42       0.00          1        101348.88
3       France   39       0.00          0         93826.63
6       France   50       0.00          1         10062.80
9       France   27  134603.88          1         71725.73
12      France   34       0.00          1         26260.98
...        ...  ...        ...        ...              ...
9987     Spain   30  180307.73          1          1914.41
9990   Germany   33   35016.60          1         53667.08
9993    France   28  155060.41          1         29179.52
9996    France   35   57369.61          1        101699.77
9999    France   28  130142.79          1         38190.78

[3334 rows x 5 columns]